services:
  # 1. Database
  sql-server-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: tgs-sqlserver
    ports:
      - "1436:1433"
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: MatKhauManh123!
      MSSQL_PID: Express
    volumes:
      - sql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"MatKhauManh123!\" -Q \"SELECT 1\" -C || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 15s

  # 2. API Chính
  travelguide-api:
    build:
      context: .
      dockerfile: Presentation/Dockerfile
    container_name: travelguide-api
    ports:
      # SỬA Ở ĐÂY: Đổi số bên phải thành 5000 (để khớp với appsettings.json)
      # Cổng ngoài 5000 -> Cổng trong 5000
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # SỬA Ở ĐÂY: Báo rõ cho .NET biết là chạy cổng 5000 luôn cho chắc
      - ASPNETCORE_URLS=http://+:5000
      - ConnectionStrings__TGSConnectionStrings=Server=sql-server-db,1433;Database=TravelGuideDb;User Id=sa;Password=MatKhauManh123!;TrustServerCertificate=True;Encrypt=False;
    depends_on:
      sql-server-db:
        condition: service_healthy
        
  # 3. Tool chạy Migration
  db-migrator:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    container_name: db-migrator
    volumes:
      - .:/src
    working_dir: /src
    depends_on:
      sql-server-db:
        condition: service_healthy
    environment:
      # SỬA Ở ĐÂY
      - ConnectionStrings__TGSConnectionStrings=Server=sql-server-db,1433;Database=TravelGuideDb;User Id=sa;Password=MatKhauManh123!;TrustServerCertificate=True;Encrypt=False;
    command: >
      /bin/bash -c "
      echo '--- 1. Cài đặt EF Core Tool ---' &&
      dotnet tool install --global dotnet-ef --version 8.0.10 || true &&
      
      echo '--- 2. Dọn dẹp file rác Windows ---' &&
      find . -type d -name bin -exec rm -rf {} + || true &&
      find . -type d -name obj -exec rm -rf {} + || true &&
      
      echo '--- 3. Chạy Migration ---' &&
      /root/.dotnet/tools/dotnet-ef database update --project Infrastructure/Infrastructure.csproj --startup-project Presentation/Presentation.csproj --verbose &&
      
      echo '=== MIGRATION THÀNH CÔNG HOÀN TOÀN!!! ==='
      "

volumes:
  sql_data: